/* ---- */
/* HTML */
/* ---- */

body 
{ 
  background-size: cover; 
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
}

a  { text-decoration: none; }
img { border: 0px; }
hr { color:#dddddd; }
hr.justclear { clear:both; visibility: hidden;}
hr.underh2 { border:0px; border-top:1px solid #696969; margin:0px; margin-top:10px;}
h2 { font-family: 'Droid Sans', sans-serif; font-size:24px!important; }
strong { font-weight: bold !important;}


/* ------ */
/* HEADER */
/* ------ */

header {
	position:relative; 
	z-index:2;
	background:rgba(0,0,0,0.65);
	height: 80px;
}

header #logo
{
    margin-left:40px;
    font-family: 'Changa One', cursive;
    color:#ffffff;
    font-size:72px;
    float:left;
}

header #menu
{
  float:right;
  margin-top:23px;
  margin-right:10px;
}

header #menu li
{
  display:block;
  float:left; 
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  background:black;
  border-radius:6px;
  color:white;
  font-family: 'Droid Sans';
  margin-right:10px;
}

header #menu li a
{
  color:white;
}

header #menu li a:hover
{
  border-bottom:1px dashed white;
}

header #menu img.menu_icon
{
  margin-right:5px;
}

/* Cake - Box*/
.first { color:#76d6b7 !important; }
.second { color:#fff !important; }

/* ------- */
/* CONTENT */
/* ------- */

#content
{
    width: 60%;
    margin:auto;
    margin-top:40px;
    margin-bottom:40px;
    background:url(white_bg_content.png);
    padding:30px;
    font-family: 'Droid Sans', sans-serif;
}

#local { margin-top:20px; }

.littleh2
{
        font-size:12px!important;
        color:#8A8A8A;
}

/* ------ */
/* BUTTON */
/* ------ */

#button_zone
{
  text-align: center;
  margin-top:30px;
}

#button_zone .button
{
  margin:auto;
  width:240px;
  height:50px;
  background: -webkit-linear-gradient(#76d6b7, #6cc7aa);
  border:6px white solid;
  border-radius:25px;
  text-align:center;
  font-size:16px;
  padding-top:12px;
  box-shadow: 0 0 13px #acacac;  
}
#button_zone .button:hover
{
   
}

#button_zone .button:hover .download_update_img
{
   -webkit-transform: rotate(1080deg);
   transition: 1s;
   -moz-transition:1s;
   -webkit-transition:1s;
}

#button_zone .button a, #button_zone .button a:visited
{
  display:block;
  color:black !important;
}

#button_zone .under_button, #button_zone .under_button a, #button_zone .under_button a:visited
{
    text-align:center;
    font-size: 12px;
    color:#8A8A8A;
    margin-top: 20px;
}

#button_zone .under_button a:hover
{
  text-decoration: underline;
}

.update_info
{
    font-size: 12px;
    color:#8A8A8A;
}

.file_info
{
    text-align:center;
    margin: 20px 0 20px 0;
}

.onefile
{
    padding: 1px;
}
.onefile:hover
{
    background:#FFDEE2;
    transition: 1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

/* ----- */
/* WATCH */
/* ----- */

.popcornlink
{
    margin-right:10px;
    cursor: pointer; 
}

#popcorn .mark
{
    color: #E81554;
    font-weight: bold;
    cursor: pointer;
}
#popcorn .unmark
{
    color:#2AA60C;
    font-weight: bold;
}

.dirInList
{
    margin-left:3px;
    padding-left:13px;
    margin-bottom:5px;
    border-left:1px solid #76d6b7;
}

.pointerLink:hover
{
    cursor: pointer;
}

.imgfolder
{
    margin-right:3px;
}

.onedir
{
    padding:2px;
}

.next_file{
  margin:40px 0px 10px 0px;
  }
.previous_file{
  margin:10px 0px 40px 0px;
  padding-left:30px;
}

.next_file a, .previous_file a
{
    color:#E81554;
    text-decoration: none;
    font-size:24px;
    font-weight: bold;
}

.next_file a:hover, .previous_file a:hover
{
    text-decoration: underline;
}

/* ------ */
/* UPDATE */
/* ------ */

#update
{
    width: 60%;
    margin:auto;
    margin-top:40px;
    background:rgba(200,253,236,0.8);
    border:4px solid #c8fdec;
    padding:30px;
    padding-bottom:10px;
    font-family: 'Droid Sans', sans-serif;
}

#update strong
{
  font-weight:bold;
}

#update > h3
{
    font-family: 'Droid Sans', sans-serif;
    font-size:24px!important;
}

#update > ol
{
    list-style-type:decimal;
    margin:15px 15px 15px 30px;
    line-height: 24px;
}

#update a
{
  color:#2a8869;
}

#update a:hover
{
  text-decoration: underline;
}

/* --------- */
/* WEBPLAYER */
/* --------- */

#web-player
{
  margin-top:30px;
  text-align: center;
}

/* ------- */
/* TOOLTIP */
/* ------- */

.tooltip
{
  position: relative;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
  font-size: 12px;
  color:#8A8A8A;
}

.tooltip span
{
  visibility: hidden;
  position: absolute; 
  top: -25px;
  z-index: 999;
  width: 270px;
  margin-left: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  
  border-color: #e1ca82;
  background-color: #ffeaa6;  
}

.tooltip:hover
{
  border: 0; /* IE6 fix */
}

.tooltip:hover span
{
  visibility: visible;
}

.tooltip span:before,
.tooltip span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  left: -7px;
  top: 50%;
  margin-top: -8px;  
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right: 8px solid #ddd; 
  border-left: 0;
  border-right-color: #ffeaa6;
}

.tooltip span:before
{
  border-right-color: #e1ca82;
  left: -8px;
}

/* Terminal in CSS */
.terminal
{
  background:black;
  padding:6px;
  color:white;
  font-family: 'Verdana';
  margin-right:30px;
  margin-left:30px;
  font-size:16px;
  border-radius:2px;
}

.terminal .prompt
{
  font-weight: bold;
}

/* Les paragraphes qui suivent un terminal */
.terminal + p
{
  margin-top:10px;
}



/* ----- */
/* MODAL */
/* ----- */

.modal
{
  width:700px;
  font-family: 'Droid Sans';
}

.modal p
{
    padding-bottom:10px;
    line-height: 22px;
}

.modal-header
{
  padding:10px;
  border-radius:5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background:#f97089;
  color:white;
  font-size:20px;
}

.modal strong
{
  font-weight: bold;
}

.modal a
{
  color:#2a8869;
}

.modal_window a:hover
{
  text-decoration: underline;
}

#config_panel h1
{
  margin-bottom: 30px;
}

/* Panneau de configuration : backgrounds */
a.radio-picture {
    border: 1px solid black;
    display: inline-block;
    margin-right: 10px;
    margin-bottom:10px;
    text-decoration: none;
    width: 140px;
    height: 140px;
}

.hidden_radio {
    left: -10000px;
    position: absolute;
    top: -1000px;
}

.selected_radio
{
  opacity:0.4;
}

/* BOOTSTRAP SURCHARGE */
span.help-block
{
  font-size:12px;
}
