body
{
	background: url('background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

a {
    text-decoration: none;
}
img
{
    border: 0px;
}

header{
    	
	position:relative; 
	z-index:2;
	background:url(footer-tail.png);
	height: 100px;
}

header #logo
{
    margin-left:40px;
    font-family: 'Changa One', cursive;
    color:#ffffff;
    font-size:72px;
}

#flattr a
{
    color:#76d6b7;
    text-decoration: none;
    font-family: 'Droid Sans', sans-serif;
    margin:10px 0 10px 44px;
}

#flattr a > .cakebox
{
    color:#ffffff !important;
}

#flattr a > .coeur
{
    color:#ff3e7a;
}

.first
{
    color:#76d6b7 !important;
}
.second
{
    color:#fff !important;
}

#content
{
    width: 60%;
    margin:auto;
    margin-top:40px;
    background:url(white_bg_content.png);
    padding:30px;
    font-family: 'Droid Sans', sans-serif;
}

#local
{
    margin-top:20px;
}

hr
{
    color:#dddddd;
}

h2
{
    font-family: 'Droid Sans', sans-serif;
    font-size:24px!important;
    
}

.littleh2
{
        font-size:12px!important;
        color:#8A8A8A;
}

.download_button
{
    text-align:center;
    font-size: 12px;
    color:#8A8A8A;
}

.update_info
{
    font-size: 12px;
    color:#8A8A8A;
}

.file_info
{
    text-align:center;
    margin: 20px 0 20px 0;
}

.delete:hover
{
    cursor: pointer;
}

.onefile
{
    padding: 1px;
}
.onefile:hover
{
    background:#FFDEE2;
    transition: 1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

.delete
{
    float:right;
    font-size: 12px;
    color:#FA6475 !important;
    text-decoration: none;
}


.editbox{
    margin-top: 20px;
}
.help, .goeditmode
{
    font-size: 14px;
    color:#8A8A8A;
    text-decoration: underline;
}

.popcornlink
{
    margin-right:10px;
    cursor: pointer; 
}

#popcorn .mark
{
    color: #E81554;
    font-weight: bold;
    cursor: pointer;
}
#popcorn .unmark
{
    color:#2AA60C;
    font-weight: bold;
}

.dirInList
{
    margin-left:3px;
    padding-left:13px;
    margin-bottom:5px;
    border-left:1px solid #76d6b7;
}

.pointerLink:hover
{
    cursor: pointer;
}

.imgfolder
{
    margin-right:3px;
}

.onedir
{
    padding:2px;
}

a.next_episode
{
    color:#E81554;
    text-decoration: none;
    font-size:24px;
    font-weight: bold;
}

a.next_episode:hover
{
    text-decoration: underline;
}

#update
{
    width: 60%;
    margin:auto;
    margin-top:40px;
    background:#ffdee8;
    padding:30px;
    font-family: 'Droid Sans', sans-serif;
}

#update > h3
{
    font-family: 'Droid Sans', sans-serif;
    font-size:24px!important;
}

#update > ul
{
    list-style-type: disc;
    margin:15px 15px 15px 30px;
}

#update a.do_update
{
    color:#ff3174;
    font-weight: bold;
}

#update a.do_update:hover
{
    text-decoration: underline;
}

