body
{
	background: url('background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

a 
{
    text-decoration: none;
}

img
{
    border: 0px;
}

header{
    	
	position:relative; 
	z-index:2;
	background:url(footer-tail.png);
	height: 80px;
}

header #logo
{
    margin-left:40px;
    font-family: 'Changa One', cursive;
    color:#ffffff;
    font-size:72px;
}

.first
{
    color:#76d6b7 !important;
}
.second
{
    color:#fff !important;
}

#content
{
    width: 60%;
    margin:auto;
    margin-top:40px;
    background:url(white_bg_content.png);
    padding:30px;
    font-family: 'Droid Sans', sans-serif;
}

#local
{
    margin-top:20px;
}

hr
{
    color:#dddddd;
}

h2
{
    font-family: 'Droid Sans', sans-serif;
    font-size:24px!important;
    
}

.littleh2
{
        font-size:12px!important;
        color:#8A8A8A;
}

.download_button
{
    text-align:center;
    font-size: 12px;
    color:#8A8A8A;
}

.update_info
{
    font-size: 12px;
    color:#8A8A8A;
}

.file_info
{
    text-align:center;
    margin: 20px 0 20px 0;
}

.delete:hover
{
    cursor: pointer;
}

.onefile
{
    padding: 1px;
}
.onefile:hover
{
    background:#FFDEE2;
    transition: 1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

.delete
{
    float:right;
    font-size: 12px;
    color:#FA6475 !important;
    text-decoration: none;
}


.editbox{
    margin-top: 20px;
}
.help, .goeditmode
{
    font-size: 14px;
    color:#8A8A8A;
    text-decoration: underline;
}

.popcornlink
{
    margin-right:10px;
    cursor: pointer; 
}

#popcorn .mark
{
    color: #E81554;
    font-weight: bold;
    cursor: pointer;
}
#popcorn .unmark
{
    color:#2AA60C;
    font-weight: bold;
}

.dirInList
{
    margin-left:3px;
    padding-left:13px;
    margin-bottom:5px;
    border-left:1px solid #76d6b7;
}

.pointerLink:hover
{
    cursor: pointer;
}

.imgfolder
{
    margin-right:3px;
}

.onedir
{
    padding:2px;
}

a.next_episode
{
    color:#E81554;
    text-decoration: none;
    font-size:24px;
    font-weight: bold;
}

a.next_episode:hover
{
    text-decoration: underline;
}

#update
{
    width: 60%;
    margin:auto;
    margin-top:40px;
    background:#ffdee8;
    padding:30px;
    font-family: 'Droid Sans', sans-serif;
}

#update > h3
{
    font-family: 'Droid Sans', sans-serif;
    font-size:24px!important;
}

#update > ul
{
    list-style-type: disc;
    margin:15px 15px 15px 30px;
}

#update a.do_update
{
    color:#ff3174;
    font-weight: bold;
}

#update a.do_update:hover
{
    text-decoration: underline;
}

.tooltip
{
  position: relative;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
  font-size: 12px;
  color:#8A8A8A;
}

.tooltip span
{
  visibility: hidden;
  position: absolute; 
  top: -25px;
  z-index: 999;
  width: 270px;
  margin-left: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  
  border-color: #e1ca82;
  background-color: #ffeaa6;  
}

.tooltip:hover
{
  border: 0; /* IE6 fix */
}

.tooltip:hover span
{
  visibility: visible;
}

.tooltip span:before,
.tooltip span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  left: -7px;
  top: 50%;
  margin-top: -8px;  
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right: 8px solid #ddd; 
  border-left: 0;
	
  border-right-color: #ffeaa6;
}

.tooltip span:before
{
  border-right-color: #e1ca82;
  left: -8px;
}
